<!doctype html>
<html>
<head>
  <title>ClaimAI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
</head>
<body>
  <div id="content"></div>
  <script src="{{ url_for('static', filename='js/bundle.js') }}"></script>
  <script src="{{ url_for('static', filename='css/style.css') }}"></script>
</body>
